<!-- Start Breadcrumbs -->
<app-breadcrumbs title="{{title}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="customerList">
            <div class="card-header border-bottom-dashed">

                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div>
                            <h5 class="card-title mb-0">Admins List</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            @if (checkedValGet && checkedValGet.length > 0) {
                                <app-custom-button
                                        type="button"
                                        text="Delete"
                                        btnClass="btn-soft-danger"
                                        iconClass="ri-delete-bin-2-line align-middle"
                                        dataBsToggle="modal"
                                        dataBsTarget="#showModal"
                                        *appHasPermission="'Delete_Admin'"
                                        (btnClick)="deleteMultiple(deleteModel)">
                                </app-custom-button>
                            }

                            <app-custom-button
                                    type="button"
                                    text="Add Admin"
                                    btnClass="btn-success add-btn"
                                    iconClass="ri-add-line align-middle"
                                    dataBsToggle="modal"
                                    dataBsTarget="#showModal"
                                    attrId="create-btn"
                                    *appHasPermission="'Create_Admin'"
                                    (btnClick)="openModal(content)">
                            </app-custom-button>

                            <app-custom-button
                                    type="button"
                                    text="Export"
                                    btnClass="btn-info"
                                    iconClass="ri-file-download-line align-middle"
                                    (btnClick)="csvFileExport()">
                            </app-custom-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border-bottom-dashed border-bottom">
                <div class="row g-3">
                    <div class="col-xl-6">
                        <div class="search-box">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search for name, email or something..." [(ngModel)]="searchTerm" (ngModelChange)="performSearch()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xl-6">
                        <div class="row g-3">
                            <div class="col-sm-4">
                                <div class="">
                                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" placeholder="Select date" id="isDate" [(ngModel)]="filterDate" (change)="dateFilter()" mode="range">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-sm-4">
                                <div>
                                    <select class="form-control" data-plugin="choices" data-choices name="choices-single-default" id="idStatus" [(ngModel)]="status" (ngModelChange)="statusFilter()">
                                        <option value="" selected> Select Status</option>
                                        <option value="0">Active</option>
                                        <option value="1">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <!--end col-->

                            <div class="col-sm-4">
                                <div>
                                    <app-custom-button
                                        class="w-100 d-block"
                                        type="button"
                                        text="Filters"
                                        btnClass="btn-primary w-100"
                                        iconClass="ri-equalizer-fill mx-2 align-bottom">
                                    </app-custom-button>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
            <div class="card-body">
                <div>

                    <app-table
                            [columns]="adminColumns"
                            [data]="administrators"
                            [hasCheckbox]="true"
                            [actionTemplate]="adminActions"
                            (sortAction)="onSortChanged($event)"
                            (selectedItemsChange)="onTableSelectionChange($event)"
                            (statusChange)="onStatusChanged($event)"
                            [disabledIds]="[idSuperAdmin]">
                    </app-table>

                    <ng-template #adminActions let-row let-i="index">
                        <ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item reset-pass" ngbTooltip="Reset password" placement="top" *appHasPermission="'ResetPassword_Admin'">
                                <a href="javascript:void(0);" class="text-info d-inline-block reset-pass-item-btn" (click)="resetPassword(row)">
                                    <i class="ri-lock-2-fill fs-16"></i>
                                </a>
                            </li>

                            <li class="list-inline-item edit" ngbTooltip="Edit" placement="top" *appHasPermission="'Update_Admin'">
                                <a href="javascript:void(0);" class="text-primary d-inline-block edit-item-btn" (click)="editDataGet(row,content)">
                                    <i class="ri-pencil-fill fs-16"></i>
                                </a>
                            </li>

                            @if (row.id != idSuperAdmin) {
                                <li class="list-inline-item me-0" ngbTooltip="Remove" placement="top" *appHasPermission="'Delete_Admin'">
                                    <a class="text-danger d-inline-block remove-item-btn" (click)="confirm(deleteModel, row.id)">
                                        <i class="ri-delete-bin-5-fill fs-16"></i>
                                    </a>
                                </li>
                            }

                        </ul>
                    </ng-template>

                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-5">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Showing
                                {{service.startIndex}} to
                                {{service.endIndex}} of {{administratorList?.length}}
                                entries
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-5">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]="administratorList?.length ?? 0" [(page)]="service.page" [pageSize]="service.pageSize" (pageChange)="changePage()">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>

                <!-- Admin Create Model -->
                <ng-template #content role="document" let-modal>
                    <div class="modal-header bg-light p-3">
                        <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <form (ngSubmit)="saveUser()" [formGroup]="administratorForm" class="tablelist-form" autocomplete="off">
                        <div class="modal-body">
                            <input type="hidden" name="id" value="" formControlName="id" />
                            <div class="row">
                                <div class="col-md-2 col-12">
                                    <div class="mb-3">
                                        <p class="form-label">Avatar</p>
                                        <div class="w-100 text-center">
                                            <label for="avatar-field" class="user-avatar">
                                                <input type="file" id="avatar-field" accept=".png, .jpg, .jpeg, .webp" (change)="onChangeSelecAvatar($event)" style="display: none;" />
                                                <img [src]="imageURL" alt="" id="preview-image" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-12">
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">Name</label>
                                        <input type="text" id="customername-field" class="form-control" placeholder="Enter Name" required formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" />
                                        <div class="invalid-feedback">Please enter a admin name.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email-field" class="form-label">Email</label>
                                <input type="email" id="email-field" class="form-control" placeholder="Enter Email" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" />
                                <div class="invalid-feedback">Please enter an email.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <app-custom-button
                                    type="button"
                                    text="Close"
                                    btnClass="btn-light"
                                    dataBsDismiss="modal"
                                    (btnClick)="modal.close('Close click')">
                                </app-custom-button>

                                <app-custom-button
                                    type="submit"
                                    text="Save"
                                    btnClass="btn-success"
                                    attrId="add-btn">
                                </app-custom-button>
                            </div>
                        </div>
                    </form>
                </ng-template>
                <!--End Modal -->
                <!--end modal -->
                @if (loading) {
                    <div id="elmLoader">
                        <div class="spinner-border text-primary avatar-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!--end col-->
</div>
<!--end row-->

<!-- removeItemModal -->
<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteRecord-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Are you sure ?</h4>
                    <p class="text-muted mx-4 mb-0">Are you sure you want to remove this record ?</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
                <!--<button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteData(deleteId)" (click)="modal.close('Close click')">Yes, Delete It!</button>-->
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteData()">Yes, Delete It!</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>